NODE_ENV=production
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=SENHA_FORTE
POSTGRES_DB=anunciacerto

DATABASE_URL=postgresql://postgres:SENHA_FORTE@db:5432/anunciacerto?schema=public
JWT_SECRET=CHAVE_SUPER_FORTE
CORS_ORIGIN=https://www.anunciacerto.com.br,https://api.anunciacerto.com.br
